<div class="header">
    <div class="leftSection">
        <h3 class="title"> Home </h3>
    </div>
    <div class="rightSection">
        <span>Hello, </span> <b>{{userName}}</b>
        <div class="imageContainer">
            <img class="img" src="assets/avatar.png">
        </div>

        <Button class="logoutBtn" (click)="logout()">Logout</Button>
    </div>
</div>

<div class="mainContainer">
    <h2 class="title">Products</h2>

    <div class="productsContainer">
        <app-product *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: page}"
            [product]="product">
        </app-product>
    </div>

    <pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>

</div>